# Dependencies
/node_modules
/backend/venv
/backend/__pycache__
/backend/*.pyc
/backend/instance
/backend/.env

# IDEs and other files
.DS_Store
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.pnpm-store

# Build artifacts
/backend/migrations
/backend/dist
/you-wellness-frontend/dist
/healthcare-hub-frontend/dist

# Vercel
.vercel
